{% extends "layout.html" %}
{% block content %}
    <div class="changing_content">
        <!-- {% with messages = get_flashed_message %}
            {% if messages %}
                {%for category, message in messages%}
                <div class="">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %} -->
        <div id="link_and_submit_div">
            <form class="form_class" method="POST" action="" class="form_field">
                {{ form.hidden_tag() }}
    <!--                w nawiasach można dać klasy i id-->
                {{ form.submit(id="find_btn") }}
                {{ form.link(placeholder="Link:", class="link_field") }}
            </form>
        </div>

    </div>
{% endblock content %}