body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: Arial,sans-serif;
}
p{
    margin: 0;
}
#menu{
    width: 100vw;
    position: flex;
    background-color:rgb(16, 16, 32);
}
#menu_button{
    position: flex;
}
#main{
    
}
.post{
    display:flex;
    flex-direction:row;
    background-color:rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.avatar_image{
    width:50px;
    height:50px;
    margin-left:20px;
}
.text_in_posts{
padding-left: 5px;
}
.name_in_post{
    text-transform: uppercase;
    color:rgb(138, 138, 138)
}
.title_in_post{
    font-weight: 600;
}
.text_in_post{
    padding-top: 2px;
}
#big_post_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:30px;
}
#big_post_header_text{
    display: flex;
    width:50%;
    flex-direction: column;
}
#big_post_buttons{
    display: flex;
    flex-direction:row;
    padding-right: 20px;
    
}
#left_button_column{

    justify-content:space-around;
  
}
#right_button_column{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-left: 5px;
    justify-content:space-around;
    
    
}
.big_post_button{
    height:28px;
    width: 80px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid #e7e7e7;
    border-radius: 100px;
    
}

