body {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
#logo {
    display: flex;
    flex-direction: column;
    font-size:9px;
    align-items: center;
    background-color:blue;
}
#logo p{
    display: flex;
    font-size:9px;
    align-items: center;
    background-color:rgb(101, 101, 224);
    margin: 0;
}

#zdjecia {
    
    background-color: #fff;
    padding: 8px;
    margin-top: 30px;
}

.zdjecie{
    border-style: solid;
    border-width:thin;
    border-color:rgb(221, 221, 221);
    margin: 3px;
}