@font-face {
    font-family: roboto-bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: roboto-bold-italic;
    src: url(fonts/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-medium-italic;
    src: url(fonts/Roboto-MediumItalic.ttf);
}

p{
  font-family: roboto-regular;
  font-size: 1.4rem;
  color: #656a6f;
  margin: 0;
}

h1{
    font-family: roboto-black;
    font-size: 45px;
    margin: 0;
    color: #656a6f;
}
h2{
    font-family: roboto-bold;
    font-size: 36px;
    color: #003561;
    margin: 0;
}
h3{
    font-family: roboto-medium-italic;
    font-size: 18px;
    color: #3c4a52;
    margin: 0;
}
h4{
    font-family: roboto-bold-italic;
    font-size: 1.6rem;
    color: #003561;
    margin: 0;
}
h5{
    font-family: roboto-bold;
    font-size: 17px;
    color: #2d3438;
    margin: 0;
}
/* Slider #####################################################
###############################################################
###############################################################*/
.img-slider{
    width: 100%;
    
  }
  #white{
      width: 100%;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 0 15px 0 15px;
  }
  
  .img-slider .slide .info h2{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
  }
  .img-slider .slide .info a{
    text-decoration: none;

  }
  
  .img-slider .slide .info p{
    text-align: center;
    margin: 0;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.1);
    font-size: 15px;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
  }
  .img-slider .slide .info p:hover{
    background-color: black;
  }
  
  .img-slider .navigation{
    z-index: 2;
    justify-content: center;
    position: relative;
    top: -30px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(99, 99, 99, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  










/* Modal #####################################################
###############################################################
###############################################################*/


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  
  












body{
    margin: 0;
    
    background: #f3f4f5;
}
.main{
    /* margin: 0 3px 0 3px; */
    position: relative;
    margin: auto;
    width: 100vw;
}









/* Header #####################################################
###############################################################
###############################################################*/
.header{
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 10;
    width:100vw;

}
.header_bg{
    width: 100vw;
    left: 0;
    position: fixed;
    z-index: 6;
    background-color: #fff;
    height:max-content;
    display: flex;
    justify-content: center;
}



#logo_image{
    height: 80px;
    margin: 5px 0 5px 10px;
}
.hamburger_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f3f4f5;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
.links_in_header{
    display: none;
    margin-right: 20px;
    justify-content: center;
}
.link_in_header_desktop{
    font-size: 1.3rem;
    font-family: roboto-bold;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: #777777;
    transition: background-color 0.2s ease-in-out;
    border-radius: 3px;
}
.link_in_header_desktop:hover{
    background-color: rgb(211, 211, 211);
    transition: background-color 0.2s ease-in-out;
}
.link_in_header{
    font-family: roboto-medium-italic;
    font-size: 21px;
    line-height: 35px;
    text-decoration: none;
    padding: 5px 0 5px 10px;
    color: #777777;
    transition: background-color 0.2s ease-in-out;
    border-top: 1px solid rgba(50, 50, 93, 0.25);
}
.link_in_header:hover{
    background-color: rgb(78, 78, 78);
    transition: background-color 0.2s ease-in-out;
}
.link_in_header_active{
    /* color: #003561;
    font-weight: 700;
    background-color: rgb(238, 238, 253); */
    /* color: #f0ab4e; */
    color: #fff;
    background-color: #003561;
    
}
.hamburger_btn:hover{
    background-color: rgb(230, 230, 230);
}
#hamburger_img{
    height: 30px;
}
.header_links_section{
    display: grid;
    column-gap: 10px;
}

#header_mobile_links{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width:inherit;
    max-width:inherit;
}
.header_mobile_links_open{
    transform: scaleY(1);
    transition-duration: 0.3s;
    transform-origin: top;

}
.header_mobile_links_closed{
    transform: scaleY(0);
    transition-duration: 0.3s;
    transform-origin: top;
}













/* Content #####################################################
###############################################################
###############################################################*/
.content{
    position: relative;
    padding: 40px 10px 40px 10px;
    min-height: 100vh;
    padding-top: 130px;
}
.page_title{
    margin-bottom: 30px;
    text-align: center;
}




/* Home ########################################### */
.plusy{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #cad2d7;
    padding-bottom: 40px;
}
.plusy h2{
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
}
.plusy #home_komfort{
    position: relative;
    bottom: -30px;
    margin-bottom: 40px;
}

.plusy .plusy_grid_section{
    display: grid;
    row-gap: 20px;
    
}
.plusy .plusy_part{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    transition: top 0.2s ease-in-out;
    position: relative;
    top: 0;
}
.plusy_part:hover{
    position: relative;
    top: -5px;
    transition: top 0.2s ease-in-out;
}

.plusy .plusy_part img{
    margin: auto;
    height: 80px;
    margin-top: 13.5px;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.plusy .plusy_part p{
    text-align: justify;
    padding-top: 5px;
}




.licznik{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.licznik img{
    width: 100px;
}
.licznik #liczba_instalacji_text{
    padding: 10px 0 10px 0;
    font-size: 25px;
}
.licznik #liczba_instalacji{
    font-size: 40px;
    font-weight: 900;
}
.postaw_na_jakosc h2{
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}
.postaw_na_jakosc img{
    width: 100%;
}

.wspolpraca{
    margin-top: 40px;
}
.wspolpraca h2{
    margin-bottom: 20px;

}
#proces_wspolpracy{
    text-align: center;
    margin-bottom: 60px;
}
.wspolpraca_grid_template{
    display: grid;
    row-gap: 40px;
}
.wspolpraca_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    transition: top 0.2s ease-in-out;
}
.wspolpraca_part:hover{
    position: relative;
    top: -5px;
    transition: top 0.2s ease-in-out;
}
.wspolpraca_part img{
    height: 80px;
    
}
.wspolpraca_part h1{
    text-align: center;
}
.upper_page_image_class{
    height: 200px;
    object-fit:cover
}

#licznik_button{
    display: grid;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cad2d7
}
#licznik_button .text_with_button_audit{
    border: none;
}

#jakosc_home{
    display: grid;
    margin-top: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cad2d7

}
#jakosc_text_button{
    margin-top: 30px;
    text-align: justify;
}
#dowiedz_sie_wiecej_btn{
    display: flex;
    width: max-content;
    text-decoration: none;
    font-family: roboto-black;
    font-size: 1.2rem;
    padding: 15px 10px;
    background-color: #ffc000;
    color: #fff;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    transition: background-color 0.2s ease-in-out;
}

#dowiedz_sie_wiecej_btn:hover{
    background-color: #dba400;
    transition: background-color 0.2s ease-in-out;
}











/* Fotowoltaika ########################################### */
.image_border{
    position: relative;
    width: 100%;
    border: 5px solid white;
    border-radius: 2px;
    left: -5px;
}

.audit_btn{
    display: flex;
    width: max-content;
    text-decoration: none;
    font-family: roboto-black;
    font-size: 1.2rem;
    padding: 15px 10px;
    background-color: #ffc000;
    color: #fff;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
}
.audit_btn:hover{
    background-color: #dba400;
    transition: background-color 0.2s ease-in-out;
}

.fotowoltaika_plusy_text{
    text-align: center;
}
.text_with_button_audit{
    padding-bottom: 30px;
    margin-top: 20px;
    border-bottom: 1px solid #cad2d7;
}
.text_with_button_audit p{
    text-align: justify;
    
}
.text_with_button_audit h5{
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 30px;
}

.cechy{
    display: grid;
    grid-template-rows: auto;
    row-gap: 40px;
}
.cechy .cecha h4{
}
.cechy .cecha p{
    margin-top: 5px;
    text-align: justify;
}










/* O nas ########################################### */
#engineers_img{
    
}
#oferta{
    text-align: center;
    margin-top: 40px;
}

#plusy_part_img_real{
    width: 100%;
    height: min-content;
    border: 4px solid #fff;
    padding: 0;
    margin-bottom: 30px;
    border-radius: 3px;
}
#myImg{
    display: flex;
    margin: auto;
}
#w_naszej_firmie{
    margin-bottom: 40px;
}





/* pompa ciepla ########################################### */

.image_with_text_side_or_down_and_title{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cad2d7;
}

.image_with_text_side_or_down{
    display: grid;
    row-gap: 40px;
    
}
.image_with_text_side_or_down p{
    text-align: justify;
}
.list_item{
    font-size: 1.3rem;
}
#title_and_list{
    margin-top: 40px;
}
#o_nas_plusy_2 img{
    border: none;
    width: 80px;
}
#popularnosc_pomp{
    text-align: justify;
    margin-top: 50px;
}



/* car_chargers ########################################### */







/* Contact ########################################### */
#contact_image{
    width: 100%;
}
#kontakt_naglowek{
    display: flex;
    justify-content: center;
    color: #003561;
    margin: 0 0 5px 0;
}

.contact_items{
display: grid;
row-gap: 20px;
margin: 40px 0 60px 0;
}
.contact_item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact_item img{
    width: 40px;
    padding-left: 20px;
}
.contact_item h4{
    padding-left: 30px;
}

.contact_form{
    width: auto;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contact_input{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-top: 3px;
    line-height: 35px;
    border: 2px solid #f0ab4e;
    font-family: roboto-medium-italic;
    font-size: 15px;
    border-radius: 4px;
}
#form_title{
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 100;
}
#form_button{
    background-color: #ffc000;
    border-radius: 5px;
    color: #fff;
    font-family: roboto-bold;
    font-size: 28px;
    height: 50px;
    border: none;
}

#map {
    margin-top: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }










/* Footer #####################################################
###############################################################
###############################################################*/
.footer{
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(50, 50, 93, 0.25);
    padding: 40px 0 70px;
    margin-top: 70px;
    justify-content: space-between;
    
}
.footer p{
    font-size: 14px;
    margin-left: 20px;
}
.footer .footer_phone{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}




@media screen and (min-width:768px){
    .upper_page_image_class{
        height: 300px;
        object-fit:cover
    }
    #licznik_button{
        grid-template-columns: 1fr 1fr;
    }
}





@media screen and (min-width:1024px){
    .main{
        max-width: 70vw;
    }
    .header{
        width: 70vw;
        
    }
    
    .plusy_grid_section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }
    .wspolpraca_grid_template{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 30px;
    }
    .cechy{
        display: grid;
        column-gap: 40px;
    }
    .image_with_text_side_or_down{
        grid-template-columns: 60% 1fr;
        column-gap: 40px;
    }
    #jakosc_home{
        grid-template-columns: 60% 1fr;
        column-gap: 30px;
        text-align: justify;
    }
}

@media screen and (min-width:1440px){
    #contact_image{
        width: 70%;
        
    }
    #contact_text_image{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #contact_info_and_form{
        display: grid;
        grid-template-columns: 60% 1fr;
        margin-top: 70px;
        margin-bottom: 40px;
        column-gap: 30px;
    }
    #contact_items_from_contact{
        grid-column: 2;
    }
    #contact_form_contact{
        grid-column: 1;
        grid-row: 1;
    }
    
}

@media screen and (min-width:1550px){
    .hamburger_btn{
        display: none;
    }
    .links_in_header{
        display: flex;
    }
    .upper_page_image_class{
        height: 400px;
        object-fit:cover
    }

}




 
