@font-face {
    font-family: roboto-bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: roboto-bold-italic;
    src: url(fonts/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-medium-italic;
    src: url(fonts/Roboto-MediumItalic.ttf);
}

h2{
    font-family: roboto-bold;
    font-size: 36px;
    color: #003561;
}
h3{
    font-family: roboto-medium-italic;
    font-size: 18px;
    color: #3c4a52;
    margin: 0;
}
h4{
    font-family: roboto-bold-italic;
    font-size: 21px;
    color: #003561;
    margin: 0;
}
h5{
    font-family: roboto-bold;
    font-size: 17px;
    color: #2d3438;
    margin: 0;
}
/* Slider #####################################################
###############################################################
###############################################################*/
.slider{
    width: 100vw;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: auto;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100vw;
    height: auto;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-top: auto;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    z-index: 1;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }















body{
    margin: 0;
}
.main{
    /* margin: 0 3px 0 3px; */
    position: relative;
}
.header{
    display: flex;
    flex-direction: row;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}
#logo_image{
    height: 80px;
    margin: 5px 0 5px 10px;
}
.hamburger_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
.link_in_header{
    font-family: roboto-medium-italic;
    font-size: 21px;
    line-height: 35px;
    text-decoration: none;
    padding: 5px 0 5px 10px;
    color: #777777;
    transition: color 0.2s ease-in-out;
    border-top: 1px solid rgba(50, 50, 93, 0.25);
}
.link_in_header:hover{
    color: rgb(78, 78, 78);
    transition: color 0.2s ease-in-out;
}
.hamburger_btn:hover{
    background-color: rgb(230, 230, 230);
}
#hamburger_img{
    height: 30px;
}

#header_mobile_links{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header_mobile_links_open{
    transform: scaleY(1);
    transition-duration: 0.3s;
    transform-origin: top;

}
.header_mobile_links_closed{
    transform: scaleY(0);
    transition-duration: 0.3s;
    transform-origin: top;
}













/* Content #####################################################
###############################################################
###############################################################*/
.content{
    padding-top: 40px;
    position: relative;
}





/* Contact ########################################### */
#contact_image{
    width: 100vw;
}
#kontakt_naglowek{
    display: flex;
    justify-content: center;
    color: #003561;
    margin: 0 0 5px 0;
}

.contact_items{
display: grid;
row-gap: 20px;
margin: 40px 0 60px 0;
}
.contact_item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact_item img{
    width: 40px;
    padding-left: 20px;
}
.contact_item h4{
    padding-left: 30px;
}

.contact_form{
    width: auto;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.contact_input{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-top: 3px;
    line-height: 35px;
    border: 2px solid #f0ab4e;
    font-family: roboto-medium-italic;
    font-size: 15px;
    border-radius: 4px;
}
#form_title{
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 100;
}
#form_button{
    background-color: #ffc000;
    border-radius: 5px;
    color: #fff;
    font-family: roboto-bold;
    font-size: 28px;
    height: 50px;
    border: none;
}

#map {
    margin-top: 40px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }










/* Footer #####################################################
###############################################################
###############################################################*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(50, 50, 93, 0.25);
    padding: 40px 0 70px;
    margin-top: 70px;
    
}


 
